body{
  background-color: rgb(247, 238, 238);
}

.jambaktron{
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #333;
  border-radius: .3rem;
}

.jambaktron h1, 
.jambaktron p{
  color: whitesmoke;
}


div h2{
  text-align: center;
}


.kartu img{
  height: 250px;
}

div ul li{
  padding: 8 16;
}

.logo{
  height: 30px;
  width: 30px;
}